.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header {
    background: var(--bluehh);
    width: 20%;
    height: 100%;
    border-right: 2px solid rgb(192, 189, 189);
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;
    margin: 0 auto;
    .organizer {
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #ccd6eb;
      border-radius: 15px 15px 15px 15px;
      box-shadow: black;
      min-height: 500px;
      width: 1000px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      color: #000;
      .username {
        color: #000;
        margin-left: 4rem;
        list-style-type: disc;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .voluntariados {
        margin-left: 2.5rem;
        font-weight: bold;
        color: #000;
        margin-bottom: 2rem;
        list-style-type: disc;
      }
      .detailmap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .map {
          margin-top: 20px;
          margin-right: 100px;
          border-radius: 2rem;

          button {
            justify-self: center;
            margin-top: 15px;
            margin-bottom: 30px;
            margin-left: 100px;
            width: 100px;
            height: 30px;
            background-color: var(--redhh);
            color: #fff;
          }
        }
      }

      .description {
        width: 25rem;
        margin-bottom: 1.2rem;
      }

      .org_info {
        display: flex;
        align-items: center;
        background-color: var(--bluehh);
        border-radius: 15px 15px 0 0;

        .avatar {
          margin: 15px 15px 15px 25px;
          display: inline-block;

          .image {
            border-radius: 50%;
          }
        }

        a {
          margin-left: 10px;
          font-weight: bold;
          color: var(--redhh);
          font-size: 35px;
        }
      }

      .details {
        p {
          margin: auto;
          color: black;
          margin-left: 40px;
          line-height: 50px;
          overflow-wrap: break-word;
        }
        .desc {
          margin-top: 10px;
          max-width: 80%;
          line-height: 30px;
        }

        .bold {
          font-weight: bold;
        }
      }
    }

    .areacomentarios {
      background-color: var(--bluehh);
      height: 200px;
      width: 1000px;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .textarea {
        margin-top: 10px;
        height: 70px;
        width: 990px;
        overflow-y: auto;
        resize: none;
      }
      button {
        justify-self: center;
        width: 100px;
        height: 30px;
        background-color: var(--redhh);
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .input {
        display: none;
      }
      .send {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 1000px;

        align-content: center;
        align-items: center;
        .addphoto {
          margin-top: 10px;
          margin-left: 10px;
          font-size: 20px;
          margin-right: 45rem;
          margin-bottom: 10px;
        }
        .imagepreview {
          width: 50px;
          height: 50px;
        }
        label:hover {
          cursor: pointer;
        }
        .sendcoment {
        }
      }
    }
    .listcomment {
      height: 300px;
      width: 1000px;
      background-color: var(--bluehh);
    }
  }
}
