.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  .header {
    background: var(--bluehh);
    width: 20%;
    border-right: 2px solid rgb(192, 189, 189);
  }
 
  .Feed {
    width: 70%;
    height: 100%;
    background: var(--whitehh);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;

    .searchBar {
      display: flex;
      margin-bottom: 20px;
      margin-top: 70px;
    
    }
  
    .activity {
      background-color: var(--whitehh);
      border-radius: 5px;
      border: var(--bluehh);
      border-style: solid;
      margin-bottom: 20px;
      width: 600px;
  
      a {
        font-size: 160%;
        color: #993955;
        text-decoration: underline;
      }
    }
  }
  .other {
    width: 15%;
  }

 
  }


  @media screen and (max-width: 960px) {
    .container {
      flex-direction: column;
      .header {
        display: none;
      }
      .banneravatar {
        width: 100%;
      }
      .other {
        display: none;
      }
    }
  }
  
    


