.bg {
    color: #fff;
    background: var(--bluehh);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 7rem;
    width: 25rem;
    height: 40rem;
    border-radius: 4rem;
}