.Container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 100%;
  .Header {
    background: var(--bluehh);
    width: 20%;
    height: 100%;
    border-right: 2px solid rgb(192, 189, 189);
  }

  .Feed {
    width: 60%;
    height: 100%;
    background: #000;
    border-right: 2px solid rgb(192, 189, 189);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .home {
      h1 {
        text-align: center;
        color: white;
        border-bottom: 2px solid rgb(192, 189, 189);
      }
    }
    ul {
      color: #fff;
    }
    li::marker {
      display: none;
    }
    .ativity {
      border: 2px solid #fff;
      margin: 2rem;
      margin-bottom: 2rem;
    }
  }

  .Other {
    width: 20%;
    height: 100%;
    background: #000;
  }

  .activity {
    background: #000;
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid #fff;
    overflow-y: scroll;

    .but {
      color: #fff;
      background: #047bc3;
      float: right;
      position: relative;
      margin-top: 1rem;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
