.introContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.div1image {
  img {
    position: absolute;
    top: 100px;
    left: 200px;
    height: 350px;
  }
}

.divIntro {
  color: #fff;
  margin: 10rem;
  text-align: center;
  font-size: 1.4rem;

  p {
    color: var(--redhh);
    padding-top: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .divIntro {
    h1 {
      align-items: center;
      text-align: center;
    }
    p {
      align-items: center;
      text-align: center;
    }
  }

  .div1image {
    display: none;
    width: 100%;
    align-items: center;
  }
}

.footer {
  position: relative;
  bottom: 0;
}
