.register {
  color: #fff;
  background: var(--bluehh);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 7rem;
  width: 25rem;
  height: 40rem;
  border-radius: 4rem;

  .register_org{
    color: var(--redhh);
    font-size: 22px;
    padding: auto;
    margin: 0 20px 0 20px;
    line-height: 35px;
  }

  .button_feedback{
    font-size: 20px;
    color:black;
  }

  .email {
    font-size: 22px;
    color:black;
    text-decoration: underline;
  }

  h1 {
    font-size: 3rem;
    color: var(--redhh);
    margin-bottom: 1rem;
  }

  a {
    line-height: 150%;
    font-size: 1.5rem;
    color: var(--redhh);
    padding: 0 5px 0 5px;
  }

  button {
    color: #fff;
    background-color: var(--redhh);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  button:hover {
    background-color: var(--redhh-2);
  }
}
.form {
  background: var(--bluehh);
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;

  .erro {
    color: rgb(250, 64, 64);
    font-size: 13px;
  }

  input {
    color: rgb(0, 0, 0);
    border: 2px solid var(--bluehh);
    padding: 0.2rem;
    margin: 0.5rem;
  }
  input::placeholder {
    color: #000;
  }

}
