.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .header {
    background: var(--bluehh);
    width: 300px;
    height: 1000px;
    border-right: 2px solid rgb(192, 189, 189);
  }

  .infobutt {
    width: 5rem;
    height: 1.5rem;
    background-color: var(--redhh);
    color: #fff;
  }
  .infobutt:hover {
    width: 5rem;
    height: 1.5rem;
    background-color: var(--redhh-2);
    color: #fff;
  }

  .banneravatar {
    width: 70%;
    height: 100%;
    align-items: center;
    border: 1px solid rgb(47, 51, 54);
    border-bottom: none;

    .banner {
      background: var(--bluehh);
      flex-shrink: 0;
      width: 100%;
      height: min(20vw, 199px);
      position: relative;
      border-bottom: 2px solid var(--redhh);

      .avatar {
        width: 170px;
        height: 170px;

        border: 5px solid var(--redhh);
        background: #c4c4c4;
        border-radius: 50%;

        position: absolute;
        bottom: max(-100px, -10vw);
        left: 30px;

        .image {
          border-radius: 50%;
        }
      }
    }

    .userinfo {
      color: #fff;
      padding: min(calc(10vw+10px), 100px) 20px 0;
      h2 {
        font: 700 2rem Roboto;
      }
      p {
        margin-top: 0.2rem;
        color: #000000;
        font: 400 1rem Roboto;
      }
      a {
        margin-top: 0.2rem;
        color: #000000;
        font: 400 1rem Roboto;
      }

      .certificate_button {
        margin-left: 10px;
        width: 9rem;
        height: 1.5rem;
        background-color: var(--redhh);
        color: #fff;
      }
      .certificate_button:hover {
        height: 1.5rem;
        background-color: var(--redhh-2);
        color: #fff;
      }
    }

    .line {
      margin: auto;
      margin-top: 5rem;
      width: 90%;
      border: 1px solid rgb(47, 51, 54);
    }

    .atividades {
      margin-top: 2rem;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        background-color: var(--redhh);

        color: #fff;
      }
      button:hover {
        color: #fff;
        background-color: var(--redhh-2);
      }
    }
  }

  .other {
    width: 15%;
    height: 1000px;
    background-color: var(--bluehh);
  }
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.currentpage {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 5rem;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: row;
    .header {
      width: 15%;
    }
    .banneravatar {
      width: 100%;
    }
    .other {
      display: none;
    }
  }
}
