.container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  .header {
    background: #000;
    width: 20%;
    border-right: 2px solid rgb(192, 189, 189);
  }
  .banneravatar {
    width: 70%;
    height: 100%;
    align-items: center;
    border: 1px solid rgb(47, 51, 54);
    border-bottom: none;

    .banner {
      background: var(--blue-50);
      flex-shrink: 0;
      width: 100%;
      height: min(20vw, 199px);
      position: relative;

      .avatar {
        width: 170px;
        height: 170px;

        border: 5px solid #000;
        background: var(--gray);
        border-radius: 50%;

        position: absolute;
        bottom: max(-100px, -10vw);
        left: 30px;

        .image{
  
  
        border-radius: 50%;
   
        }
      }
    }

    .userinfo {
      color: #fff;
      padding: min(calc(10vw+10px), 100px) 20px 0;
      h2 {
        font: 700 2rem Roboto;
      }
      p {
        margin-top: 0.2rem;
        color: #e2e2e2ce;
        font: 100 1rem Roboto;
      }
    }

    .line {
      margin: auto;
      margin-top: 5rem;
      width: 90%;
      border: 1px solid rgb(47, 51, 54);
    }

    .atividades {
      margin-top: 2rem;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        background-color: #1a1a1a;
        border: none;
        color: #fff;
      }
      button:hover {
        color: rgba(255, 255, 255, 0.822);
      }
    }
  }

  .other {
    width: 15%;
  }
}

.currentpage {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 5rem;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    .header {
      display: none;
    }
    .banneravatar {
      width: 100%;
    }
    .other {
      display: none;
    }
  }
}
