.container {
  color: #fff;
  background: #000;

  h1 {
    font-size: 2rem;
    color: #047bc3;
    margin-bottom: 1rem;
  }

  button {
    color: #fff;
    background-color: #035485;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  button:hover {
    background-color: #047bc3;
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  input {
    color: #fff;
    border: 2px solid #1a1a1a;
    padding: 0.1rem;
    margin: 0.5rem;
    width: 20rem;
    height: 2rem;
  }
  input::selection {
    outline: none;
  }

  .mapView {
    input {
      background-color: #000;
      color: rgb(194, 194, 194);
      border: 2px solid #1a1a1a;
      padding: 0.5rem;

      margin: 0.5rem;
      width: 20.5rem;
      height: 2.5rem;
      font: 500 1rem Roboto, sans-serif;
    }
    input::placeholder {
      color: #777676;
    }
    input:focus {
      outline: none;
    }
  }
}
