.container {
  color: #fff;
  background: #E9ECF5;

  h1 {
    font-size: 2rem;
    color: #993955;
    margin-bottom: 1rem;
  }

  button {
    color: #fff;
    background-color: var(--redhh);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  button:hover {
    background-color: var(--redhh-2);
  }
}

.form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  input {
    color: #993955;
    border: 2px solid #1a1a1a;
    padding: 0.1rem;
    margin: 0.5rem;
    width: 20rem;
    height: 2rem;
  }
  input::selection {
    outline: none;
  }

 .multiline{
      width: 21.5rem;
    
    }

  .mapView {
    input {
      background-color: #fff;
      color: #993955;
      border: 2px solid #1a1a1a;
      padding: 0.5rem;

      margin: 0.5rem;
      width: 20.5rem;
      height: 2.5rem;
      font: 500 1rem Roboto, sans-serif;
    }
    input::placeholder {
      color: #777676;
    }
    input:focus {
      outline: none;
    }
  }
}
