.container {
  
  height: 100%;
  width: 100%;

  h1 {
    font-size: 2rem;
    color: #993955;
    margin-bottom: 1rem;
  }

  button {
    color: #fff;
    background-color: var(--redhh);
    border: none;
    justify-content: center;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    height: 50px;
    width: 200px;
    
  }
  button:hover {
    background-color: var(--redhh-2);
  }
}

.form {
  background-color: var(--bluehh);
  border-radius: 2rem;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  justify-content: space-around;

  .iconRow {
    display:flex;
    align-items: center;

    .date {
      width: 292px;
    }
     
    .icon:hover {
      color:#1a1a1a;
    }

  }
  
  input {
    color: black;

    background-color: white;
    
    padding: 0.1rem;
    margin: 0.5rem;
    
    width: 20rem;
    height: 2rem;
  }
  input::selection {
    outline: none;
  }

 .multiline{
      width: 21rem;
      background-color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  .formtext{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    p{
      color:var(--black)

    }

  }

  .mapView {
    display: flex;
    flex-direction: column;

    align-items: center;
    input {
      background-color: #fff;
      color: #993955;
      border: 2px solid #1a1a1a;
      padding: 0.5rem;
      margin-left: -0.3rem;
     justify-content: center;
     align-items: center;
     
      width: 20.5rem;
      height: 2.5rem;
      font: 500 1rem Roboto, sans-serif;
    }
    input::placeholder {
      color: #777676;
    }
    input:focus {
      outline: none;
    }
   
  }
}

.tags{
  background-color: aqua;
}

.info {
  font-size: 20px;
  display:flex;
  align-items: center;
  width: 350px;
  height: 180px;
  border-style: solid;
  border-radius: 5px;
  background-color: var(--redhh);
  box-shadow: 5px 5px 5px  #3d3c3c;

  .infoText {
    color:black;
    padding: 20px 20px 20px 20px;
  }
}