.NavbarItems {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 100%;

  h1 {
    font-size: 3.2rem;
    color: var(--redhh);
    cursor: pointer;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .Navbar {
    flex-direction: column;
    text-align: start;
    height: 100%;
    margin-top: 2rem;
    top: 15%;
    font-size: 1.7rem;
    width: 100%;

    .logout {
      display: flex;
      align-content: center;

      button {
        margin: auto;
        color: #fff;
        background: var(--redhh);
        width: 8rem;
        height: 2rem;
        border-radius: 2rem;
        margin-top: 4rem;
      }
      button:hover {
        background: var(--redhh-2);
      }
    }

    .topics {
      cursor: pointer;
      padding-left: 3rem;

      .links {
        color: var(--black);
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;

        .linkname {
          font-size: 30px;
          padding-left: 10px;
        }
      }
      .links:active {
        color: var(--bluehh);
      }
    }

    .topics:hover {
      background-color: rgb(4, 51, 90);
      opacity: 0.5;

      span {
        color: var(--bluehh);
      }

      .topics::after {
        color: var(--redhh);
        background-color: var(--redhh);
        opacity: 0.5;
        border-radius: 10px;

        a {
          color: var(--bluehh);
        }
      }

      span {
        color: var(--bluehh);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .linkname {
    display: none;
  }
  .topics {
    text-align: center;
  }
}
