.NavbarItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 3rem;
    color: #993955;
    justify-self: start;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .Navbar {
    margin-top: 2rem;
    top: 15%;
    font-size: 1.7rem;
    p {
      margin: 0;
      margin-bottom: 1.7rem;
    }
  }
}
