.NavbarItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  align-items: center;
  height: 100%;
  background-color: var(--bluehh);
  ul {
    list-style-type: none;
    }

  h1 {
<<<<<<< HEAD
    font-size: 2.5rem;
    color: var(--redhh);
=======
    font-size: 3rem;
    color: #993955;
>>>>>>> 12e890fdb823a369736980d4c2b73c9460f49112
    justify-self: start;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .Navbar {
    margin-top: 2rem;
    top: 15%;
    font-size: 1.7rem;
    p {
      margin: 0;
      margin-bottom: 1.7rem;
    }
  }
<<<<<<< HEAD
  button {
    color: #fff;
    background: var(--redhh);
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
  }
  button:hover {
    background: var(--redhh-2);
  }
=======
>>>>>>> 12e890fdb823a369736980d4c2b73c9460f49112
}
