.NavbarItems {
  background: var(--bluehh);
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1;
}

.brand_image{
  margin: auto;
  height: 80px;
  width: 250px;
}

.navbarlogo {
  color: var(--redhh);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 2.5rem;
}

.menuicon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbarlogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menuicon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
