.footer {
  background-color: var(--bluehh);
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  

  p {
    color: var(--redhh);
    padding-top: 1rem;
    align-items: center;
    text-align: center;
  }
}
