.footer {
  background-color: var(--bluehh);
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 300px;
  
  p {
    color: var(--redhh);
    padding-top: 1rem;
    align-items: center;
    text-align: center;
  }
}
