.container1 {
  background: #fff;
  display: flex;
  height: 603px;
  width: 100%;
  margin-bottom: 1rem;
 
}

.container2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bluehh);
  height: 25rem;
  margin: auto;
  width: 100%;
  

  h1 {
    color: #000;
    margin-bottom: 3rem;
  }
  p {
    color: #000;
    font-size: 20px;
  }

  button {
    color: #fff;
    background-color: var(--redhh);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 1rem;
    a{
      color: #fff;
    }
  }
  button:hover {
    background-color: var(--redhh-2);
  }
}
