.Container {
  background: var(--bluehh);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 603px;
  margin: auto;
  width: 90%;
  border-radius: 4rem ;
  
}

.contato {
  
  text-align: center;
  font-size: 1.5rem;

  h1 {
    color: var(--redhh);
  }
  p {
    color: var(--redhh);
    padding: 1.2rem;
  }
}

.feedback {
  text-align: center;
  font-size: 1.2rem;

  h1 {
    color: var(--redhh);
    margin-bottom: 1.5rem;
  }
  
  button {
    color: #fff;
    background-color: var(--redhh);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  button:hover {
    background-color: var(--redhh-2);
  }
}

.form {
  background: var(--bluehh);
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 0;
  input {
    color: rgb(0, 0, 0);
   
    
    
  }

  input:focus {
    border: 1px solid #000;
    outline: none !important;
  }

  input::placeholder {
    color: rgb(0, 0, 0);
  }


  .multiline{
    
    background: #fff;
    color: #000;
    input::placeholder { 
      color: rgb(0, 0, 0);
    }
  }

  .loading{
    position: absolute;
    top: 315px;
    right: 10px;
    
    img{
      height: 40px;
      width: 40px;
    }
    
  }
}
