.Container {
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 603px;
  margin: auto;
  width: 90%;
  padding: 50px;
  margin-bottom: 8rem;
}

.contato {
  text-align: center;
  font-size: 1.5rem;

  h1 {
    color: #035485;
  }
  p {
    color: #fff;
    padding: 1.2rem;
  }
}

.feedback {
  text-align: center;
  font-size: 1.2rem;

  h1 {
    color: #035485;
    margin-bottom: 1.5rem;
  }
  form {
    input {
      padding: 0.2rem;
      width: 100%;
      color: #000;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    textarea {
      margin-top: 1rem;
      padding: 1rem;
      width: 100%;
      color: #000;
      resize: none;
    }
  }
  button {
    color: #fff;
    background-color: #035485;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  button:hover {
    background-color: #047bc3;
  }
}

.form {
  background: #000;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;

  input {
    color: #fff;
    border: 2px solid #1a1a1a;
    padding: 0.2rem;
    margin: 0.5rem;
  }
  input::after {
    color: #047bc3;
  }
  input:focus {
    border: 1px solid #000;
    outline: none !important;
  }

  input::password {
    display: none;
  }
  input::selection {
    color: #047bc3;
  }
  input::placeholder {
    color: rgb(0, 0, 0);
  }
  input::selection {
    border: 1px solid #000;
  }

  .multiline{
    background: #fff;
    color: #000;
    input::placeholder { 
      color: rgb(0, 0, 0);
    }
  }
}
